<% provide(:title,"Index")%>
<h1>Books</h1>
<div align="center">
<%= link_to "<button type = \"button\" class= \"btn btn-lg btn-primary\">Add</button>".html_safe, 'posts/new'%></button>
<br><br>
<b>Search by book, author, subject, or ISBN:</b>
<div class = "box">
<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
<% end %>
</div>
<% if request.original_url.include? "search"%>
  <%= link_to "All books", posts_path, class:"btn btn-primary"%>
<%end%> <br><br>
<% if @posts.blank? %>
  <h4>There are no books containing the term <%= params[:search] %>.</h4>
  <h3><%= link_to "Back to books", posts_path%></h3>
<%else%>
<table class = "table table-hover table-striped">
  <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Subject</th>
    <th>Owner Email</th>
    <th colspan="4"></th>
  </tr>

  <% @posts = @posts.sort_by { |a| [a.subject,a.title.downcase]} %>
  
  <% @posts.map do |post| %>
    <% splittext = post.title.split(" ") %>
    <% splittext.map do |word| %>
      <% word[0] = word[0].capitalize %>
    <% end %>
    <% post.title = splittext.join(" ") %>
    <% splittext = post.author.split(" ") %>
    <% splittext.map do |word| %>
      <% word[0] = word[0].capitalize %>
    <% end %>
    <% post.author = splittext.join(" ") %>
  <% end %>
  

  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= post.author %></td>
      <td><%=post.subject%></td>
      <td><%= post.email %></td>
    <% if post.user_id == @user.id %>
      <td>&nbsp;<%= link_to 'Edit', edit_post_path(post) %></td>
      <td>&nbsp;<%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    <%else%>
      <td></td>
      <td></td>
    <%end%>
    </tr>
  <% end %>
</table>
</div>
<% end %>
