<% provide(:title,"Index")%>
<h1>Books</h1>
<div align="center">
<%= link_to "<button type = \"button\" class= \"btn btn-lg btn-primary\">Add</button>".html_safe, 'posts/new'%></button>
<table class = "table table-hover">
  <tr>
    <th>Book</th>
    <th>Author</th>
    <th>Owner Email</th>
    <th colspan="4"></th>
  </tr>
  <% @posts.map do |post| %>
    <% post.title = post.title.downcase %>
  <%end%>  

  <% @posts = @posts.sort_by { |a| a.title} %><br>
  
  <% @posts.map do |post| %>
    <% splittext = post.title.split(" ") %><br>
    <% splittext.map do |word| %>
      <% word[0] = word[0].capitalize %>
    <% end %>
    <% post.title = splittext.join(" ") %>
  <% end %>
  

  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= post.author %></td>
      <td><%= post.email %></td>
    <% if post.user_id == @user.id %>
      <td>&nbsp;<%= link_to 'Edit', edit_post_path(post) %></td>
      <td>&nbsp;<%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %></td>
     <%else%>
        <td></td>
        <td></td>
    <%end%>
    </tr>
  <% end %>
</table>
</div>

